# Зависимости (node_modules)
/node_modules
/.pnp
.pnp.js

# Кэш сборки и вывода Next.js
/.next/
/out/
/build

# Системные файлы macOS (так как вы на Mac)
.DS_Store
*.pem

# Конфиденциальные файлы и локальные ключи (Метрика и др.)
.env
.env.local
.env.production
.env.development.local
.env.production.local
.env*.local

# Логи и отладка
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

/secret/